*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #053b53;
    color: white;
}

p, .home-content p, .s-content p, .v-content p, .projects-content ul, .experience-content ul, .services-content ul, .learn ul, .learn li, .projects-content ul, .field, textarea {
    font-size: 1.7rem !important;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.home-content {
    padding: 1rem;
    width: 100%;
}

.intro-text {
    text-align: justify;
    max-width: 100%;
    padding: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

p {
    font-size: 1.1rem;
}

header{
    margin-top: 0px;
    margin-left: 0;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(10px);
    display: flex;
    flex-direction: column; 
    z-index: 100;
}

.header-top{
    display: flex;
    align-items: center;
    background-color: white;
}

.logo img{
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo:hover{
    transform: scale(1.01);
} 

/* Navbar styles */

.navbar ul {
    list-style: none;
    background-color: teal;
    padding: 0px;
    margin: 0px;
    z-index: 100;
    display: flex;
    justify-content:space-between; 
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-left: 2px solid #000;
}

.navbar ul li{
    flex: 1;
    display: inline-block;
    position: relative;
}

.navbar li:last-child a {
    border-right: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    background-color: grey;
    transition: background 0.3s;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px 6px 0 0;
    border-right: 2px solid #000;
    position: relative;
}

.navbar a:hover {
    background-color: #555;
    color: white;
}

.navbar a.active {
    background-color: #222; 
    color: white;
    font-weight: bold;
}

/* Navbar Hamburger */

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    position: absolute;
    top: 35px; 
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 101;
}

.nav-toggle-label span {
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    background: #000;
    transition: background 0.3s ease;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #000;
    transition: transform 0.3s ease, top 0.3s ease;
}

.nav-toggle-label span::before {
    top: -8px;
}

.nav-toggle-label span::after {
    top: 8px;
}

.nav-toggle:checked + .nav-toggle-label span {
    background: transparent;
}

.nav-toggle:checked + .nav-toggle-label span::before {
    transform: rotate(45deg);
    top: 0;
}

.nav-toggle:checked + .nav-toggle-label span::after {
    transform: rotate(-45deg);
    top: 0
}

@media (max-width: 1024px) {
    .navbar ul {
        flex-direction: column;
        display: none;
        width: 100%;
        border: none;
    }

    .navbar ul li {
        flex: none;
        width: 100%;
    }

    .navbar ul li a {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #000;
    }

    .nav-toggle:checked ~ ul {
        display: flex;
    }

    .nav-toggle-label {
        display: block;
    }
}

@media (min-width: 1025px) {
    .nav-toggle-label {
        display: none !important;
    }
}

/* Dropdown Menu */

.navbar .has-dropdown {
    position: relative;
}

.navbar .has-dropdown .dropdown {
    min-width: calc(50%*2);
}

.navbar .has-dropdown .nav-link {
    color: white;
    background-color: grey;
    padding: 0.5rem 1rem;
    font-size: 1.3rem !important;
    text-align: center;
    border-right: 2px solid #000;
    display: block;
    cursor: pointer;
    border-radius: 6px 6px 0 0;
}

.navbar .has-dropdown:has(.dropdown a.active) > .nav-link {
    background-color: #222;
    color: white;
    font-weight: bold;
}

.navbar .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #053b53;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 0 0 6px 6px;
    z-index: 999;
    flex-direction: column;
}

.navbar .has-dropdown:hover .dropdown {
    display: flex;
}

.navbar .dropdown li a {
    padding: 1rem;
    font-size: 1.3rem;
    color: white;
    background-color: #053b53;
    border-bottom: 1px solid #000;
    text-align: left;
    display: block;
    border-right: 1px solid #000;
}

.navbar .dropdown li a:hover {
    background-color: #118cc1;
}

@media (max-width: 1024px) {
    .navbar .has-dropdown {
        width: 100%;
    }

    .navbar .has-dropdown .dropdown {
        position: static;
        box-shadow: none;
        border-radius: 0;
        border-top: 1px solid #000;
        display: none;
        padding: 0; 
    }

    .navbar .dropdown li a {
        padding: 0.6rem 1rem; 
        font-size: 1.2rem;   
        border: none;
        border-bottom: 1px solid #000;
        text-align: center;
    }

    .dropdown-toggle:checked + .nav-link + .dropdown {
        display: flex;
        flex-direction: column;
    }

    .navbar .has-dropdown .nav-link {
        width: 100%;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #000;
        padding: 0.6rem 1rem;  
        font-size: 1.2rem;
    }
}

/* Story */

.story{
    height: 100vh;
    width: 100%;
    display: flex; 
	position: relative;
    transition: height 0.4s ease;
    overflow: hidden;
}

.s-image{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./images/story.jpg);
    background-size: cover;
    background-position: top center;
    filter: blur(2px);
    z-index: 1;
}

.s-content {
    width: 100%;
    padding: 8rem 10rem 4rem 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    z-index: 2;
    position: relative;
    padding-top: 170px;
    color: rgb(230, 230, 230);
    animation: fadeInUp 1s ease-out both;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.s-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: white !important;
    z-index: 2;
    padding-bottom: 10px;
}

.s-content p{
    font-size: 2rem;
    margin-bottom: 2.5rem;
    text-align: justify;
}

.img-corner{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: auto;
    z-index: 2;
}

@media (max-width: 1024px) {
    .story {
        flex-direction: column;
        height: auto; 
        min-height: 100vh;
        overflow: hidden;
    }

    .s-content {
        padding: 4rem 3rem;
        padding-top: 140px;
        align-items: center;
        text-align: center;
    }

    .s-content h1 {
        font-size: 4rem;
    }

    .s-content p {
        font-size: 1.6rem;
        text-align: justify;
    }

    .img-corner {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 120px;
        margin-top: 0;
    }
}

/* Values */

.values{
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex; 
    background-color: #053b53;
    flex-wrap: wrap; 
    position: relative;
}

.v-image{
    flex: 1;
    background-image: url(./images/values.jpg);
    background-size: cover;
    background-position: center;
}

.v-content {
    flex: 1;
    width: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    overflow: hidden;
    box-sizing: border-box; 
    max-height: 100%;
    padding-top: 150px;
}

.v-content h1, .v-content p {
  transition: transform 0.5s ease;
}

.v-content h1:hover, .v-content p:hover {
  transform: translateX(-20px);
  opacity: 1;
}

.v-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: hsl(0, 0%, 100%);
    z-index: 2;
}

.v-content p{
    font-size: 2.5rem !important;
    margin-bottom: 2.5rem;
    text-align: justify;
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease;
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

@media (max-width: 1024px) {
    .values {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
    }

    .v-image {
        width: 100%;
        aspect-ratio: 16 / 9;
        background-position: center;
        background-size: cover;
    }

    .v-content {
        width: 100%;
        text-align: center;
        align-items: center;
        padding-top: 2rem;
    }

    .v-content h1 {
        font-size: 5rem; 
        margin-bottom: 1rem;
        margin-top: 0;
    }

    .v-content p {
        font-size: 2rem !important;
        text-align: justify;
        margin-top: 0;
    }
}

/* Services */

.services-body {
    background-color: #053b53;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.service-section {
    position: relative;
}

.service-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/services.jpg") no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}

.service-container {
    padding-top: 120px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding-bottom: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.service h1 {
    font-size: 6rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    position: relative; 
    margin-bottom: 3rem;
    animation: animate 1s ease-in-out 1 forwards;
}

.service h1::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 300px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.4);
}

.service h1 span {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    display: block;
}

.service h1 span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px;
    transform: translateY(-50%);
    height: 8px;
    width: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    animation: anim-circle 6.5s linear infinite;
}

@keyframes anim-circle {
    0% {
        transform: translateY(-50%) translateX(0);
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        transform: translateY(-50%) translateX(500px);
        opacity: 0;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    width: 100%;
    max-width: 1400px;
    margin: 50px auto 0 auto;
    animation: animate 1s ease-in-out 1 forwards;
    justify-content: center;
    padding-top: 2rem;
    box-sizing: border-box;
}

.card {
    height: 500px;
    width: 350px;
    background-color: #042d3f60;
    padding: 3% 8%;
    border: 0.2px solid #000;
    border-radius: 8px;
    transition: 0.6s;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card::after {
    content: "";
    position: absolute;
    top: 150%;
    left: -200px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #fff;
    height: 18px;
    filter: blur(30px);
    opacity: 0.5;
    transition: 1s;
}

.card:hover::after {
    width: 225%;
    top: -100%;
}

.card .img {
    width: 100px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
    animation: animate 1s ease-in-out 1 forwards;
    margin-top: 1.5rem;
    transition: transform 0.3s ease;
    transform-origin: center center;
}

.card h2 {
    font-size: 3.6rem;
    margin-top: 1rem;
    color: #ffffff;
    text-align: center;
    animation: animate 1s ease-in-out 1 forwards;
}

.card ul {
    width: 100%;
    margin: 12px 0;
    color: #bbb9b9;
    animation: animate 1s ease-in-out 1 forwards;
    font-size: 2rem;
    line-height: 2.7rem;
    margin: 10px 30px 2px 50px;
}

.card li {
    text-align: left;
}

.card:hover {
    background-color: transparent;
    transform: translateY(-8px);
    border-color: #fff;
}

@media (min-height: 1280px) {
    .services-body,
    .service-container {
        min-height: 100vh;
        height: auto;
        position: relative;
    }

    .img-corner {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 130px;
    }
}

@media (max-width: 1440px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
        padding: 2rem 10rem;
    }

    .card {
        width: 310px;
        height: 450px;
        padding-top: 0px;
        margin-bottom: 50px;
    }

    .card h2 {
        font-size: 3.5em;
    }

    .card ul {
        font-size: 1.9rem;
        line-height: 2.2rem;
        margin: 10px 40px 10px 80px;
    }

    .service h1 {
        font-size: 6rem;
        padding-top: 80px;
        padding-bottom: 0;
    }

    .service h1::after,
    .service h1 span {
        width: 300px;
        padding-bottom: 0;
    }

    .services-body,
    .service-container {
        height: 100vh;
        width: 100%;
    }

    .img-corner {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 130px;
        margin-top: 0;
    }
}

@media (max-width: 1280px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 1rem 7rem;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 5px;
        
    }

    .card h2 {
        font-size: 2.8rem;
    }

    .card ul {
        font-size: 1.7rem;
        line-height: 2rem;
        margin: 5px 10px 10px 60px;
    }

    .service h1 {
        font-size: 5rem;
        padding-top: 20px;
    }

    .service h1::after,
    .service h1 span {
        width: 220px;
    }

    .services-body,
    .service-container {
        height: auto;
        width: 100%;
    }

    .img-corner {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 130px;
        margin-top: 0;
    }
}

@media (max-width: 1080px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 1rem 0rem;
    }

    .card {
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 5px;   
    }

    .card h2 {
        font-size: 2.3rem;
    }

    .card ul {
        font-size: 1.7rem;
        line-height: 1.8rem;
        margin: 5px 10px 10px 60px;
    }

    .service h1 {
        font-size: 4rem;
        padding-top: 20px;
    }

    .service h1::after,
    .service h1 span {
        width: 220px;
    }

    .services-body,
    .service-container {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 0rem 5rem;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .card h2 {
        font-size: 2.3rem;
    }

    .card ul {
        font-size: 1.5rem;
        line-height: 1.8rem;
        margin: 5px 10px 10px 60px;
    }

    .service h1 {
        font-size: 3rem;
    }

    .service h1::after,
    .service h1 span {
        width: 150px;
    }

    .services-body,
    .service-container {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        padding: 0rem 3rem;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .card h2 {
        font-size: 2rem;
    }

    .card ul {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin: 5px 10px 10px 60px;
    }

    .service h1 {
        font-size: 3rem;
    }

    .service h1::after,
    .service h1 span {
        width: 150px;
    }

    .services-body,
    .service-container {
        height: auto;
        width: 100%;
    }

    .img-corner {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 80px;
        margin-top: 0;
    }
}

@media (max-width: 330px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        padding: 0rem 2rem;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .card h2 {
        font-size: 1.8rem;
    }

    .card ul {
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin: 5px 10px 10px 60px;
    }

    .service h1 {
        font-size: 2.5rem;
    }

    .service h1::after,
    .service h1 span {
        width: 150px;
    }

    .services-body,
    .service-container {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 300px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
        padding: 0rem 2rem;
    }

    .card {
        width: 100%;
        height: auto;
    }

    .card h2 {
        font-size: 1rem;
    }

    .card ul {
        font-size: 0.8rem;
        line-height: 1rem;
        margin: 5px 10px 10px 30px;
    }

    .service h1 {
        font-size: 2rem;
    }

    .service h1::after,
    .service h1 span {
        width: 100px;
    }

    .services-body,
    .service-container {
        height: auto;
        width: 100%;
    }
}

/* Projects */

.project-section {
    position: relative;
    z-index: 0;
    justify-content: center;
}

.project-container{
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.project-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/projects.jpg") no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 2000px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    justify-content: center;
    padding: 100px 20px 40px;
}

.card-slider .card-item {
    user-select: none;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background: linear-gradient(to left, #050505, #053b53 50%, #053b53 50% , #050505);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    box-sizing: border-box;
}

.card-slider .card-item:hover {
    border-color: #118cc1;
    transform: translateY(-5px);
}

.card-slider .card-item .card-image {
    max-width: 400;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card-project {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    height: 100%; 
    text-align: center;  
}

.card-slider .card-item .card-title,
.card-title-project {
    font-size: 3rem;
    color: #fff;
    font-weight: 600;
    margin: 0px 0 8px;
}

.card-slider .card-item .card-description {
    font-size: 1.5rem;
    color: #afafaf;
    line-height: 1.5;
    overflow: hidden;
    margin-bottom: 20px;
    text-align: justify;
}

.card-slider .card-item .card-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: none;
    border: 3px solid #fff;
    transform: rotate(-45deg);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
}

.card-slider .card-item:hover .card-button {
    color: #fff;
    background: #118cc1;
}

.card-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #fff;
}

.card-slider .slider-button {
    position: absolute;
    z-index: 10;
    font-size: 2rem;
    transition: 0.3s ease;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.card-slider .slider-button:hover {
    color: #053b53;
}

@media (max-width: 1280px) {
    .slider-wrapper {
        margin: 0 30px 40px;
        padding-top: 120px;
        overflow: hidden;
        display: flex;
    }

    .card-slider .card-item .card-title,
    .card-title-project {
        font-size: 3.1rem !important;
    }

    .card-slider .card-item .card-description {
        font-size: 1.7rem !important;
    }

    .project-section,
    .project-container {
        height: auto;
        width: 100%;
        min-height: 100vh;
    }
}

@media (max-width: 900px) {
    .slider-wrapper {
        margin: 0 30px 40px;
        padding-top: 120px;
        overflow: hidden;
        display: flex;
    }

    .card-slider .card-item .card-title,
    .card-title-project {
        font-size: 3rem !important;
    }

    .card-slider .card-item .card-description {
        font-size: 1.7rem !important;
    }

    .project-section,
    .project-container {
        height: auto;
        width: 100%;
        min-height: 100vh;
    }
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 30px 40px;
        padding-top: 120px;
        overflow: hidden;
        display: flex;
    }

    .card-slider .card-item .card-title,
    .card-title-project {
        font-size: 2.9rem !important;
    }

    .card-slider .card-item .card-description {
        font-size: 1.6rem !important;
    }

    .project-section,
    .project-container {
        height: auto;
        width: 100%;
        min-height: 100vh;
    }
}

@media (max-width: 400px) {
    .slider-wrapper {
        margin: 0 30px 40px;
        padding-top: 120px;
        overflow: hidden;
        display: flex;
    }

    .card-slider .card-item .card-title,
    .card-title-project {
        font-size: 2.5rem !important;
    }

    .card-slider .card-item .card-description {
        font-size: 1.4rem !important;
    }

    .project-section,
    .project-container {
        height: 200px;
        width: 100%;
        min-height: 100vh;
    }
}

@media (max-width: 330px) {
    .slider-wrapper {
        margin: 0 30px 40px;
        padding-top: 120px;
        overflow: hidden;
        display: flex;
    }

    .card-slider .card-item .card-title,
    .card-title-project {
        font-size: 2rem !important;
    }

    .card-slider .card-item .card-description {
        font-size: 1.2rem !important;
    }

    .project-section,
    .project-container {
        height: auto;
        width: 100%;
        min-height: 100vh;
    }
}

/* Projects Sub */

.mySlides {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mySlides img {
    object-fit: cover; 
    background-color: #053b53;
    aspect-ratio: 16 / 9;
}

.slideshow-container {
    max-width: 100%;
    height: 100vh;
    position: relative;
    margin: 0 auto;
    background-color: #053b53;
    overflow: hidden;
    display: flex;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.back-button {
    position: absolute;
    top: 120px;
    left: 10px;
    z-index: 10;
}

.back-button button {
    font-size: 25px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.back-button:hover button {
    transform: scale(1.2);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Experiences */

.experience-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    padding: 0;
}

.experience-img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.experience-img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("images/experience.jpg") no-repeat center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.experience-section h1{
    text-align: center;
    font-size: 6rem;
    position: relative;
    transition: transform 0.3s ease;
    align-items: center;
    animation: animate 1s ease-in-out 1 forwards;
    margin-top: 250px;
}

.experience-section h1:hover {
    transform: scale(1.09);
}

.experience-section h1::after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 400px;
}

.experience-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50vh;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    animation: animate 1s ease-in-out 1 forwards;
    position: relative;
}
 
.experience-container .experience-card{
    width: 20%;
    height: 50vh;
    padding: 1%;
    border-radius: 0;
    -webkit-transition: background 1s;
    transition: background 1s;
    display: block;
    background: linear-gradient(to left, 
        rgba(3, 39, 54, 0.8), 
        rgba(5, 5, 5, 0.8) 50%, 
        rgba(160, 0, 0, 0.8) 50%, 
        rgba(5, 5, 5, 0.8)
    );
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all 0.4s ease-in;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    text-align: center;
    animation: animate 1s ease-in-out 1 forwards;
    position: relative;
}

.experience-container .experience-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-position: 0 0;
}

.experience-container .experience-card h4 {
    font-size: 13rem;
    text-align: center;
    font-weight: 200;
    transition: transform 0.3s ease;
}

.experience-container .experience-card:hover h4 {
    transform: scale(1.2);
    color: #053b53;
    text-shadow: 0 0 5px wheat;
}

.experience-container .experience-card h4 span {
    font-size: 8rem;
    text-align: center;
    justify-content: center;
}

.experience-container .experience-card p{
    font-size: 2.5rem !important;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    color: #afafaf;
}

.experience-container .experience-card:hover p {
    transform: translateY(-8px);
    text-shadow: 0 0 2px #fff;
}

.img-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 130px;
    z-index: 2;
    pointer-events: none;
}

@media (max-width: 1600px) {
    .experience-section h1{
        margin-top: 200px;
    }
}

@media (max-width: 1440px) {
    .experience-img{
        margin: 0 auto;
    }
    .experience-section h1{
        font-size: 6rem;
        margin-top: 200px;
    }
    .experience-container{
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto;
    }
    .experience-container .experience-card {
        height: 50vh;
    }
    .experience-container .experience-card h4 {
        font-size: 10rem;
    }
    .experience-container .experience-card h4 span {
        font-size: 6rem !important;
    }
    .experience-container .experience-card p{
        font-size: 2.2rem !important;
    }
}

@media (max-width: 1280px) {
    .experience-section h1{
        font-size: 6rem;
        margin-top: 200px;
    }
    .experience-container{
        margin: 30px auto;
    }
    .experience-container .experience-card {
        height: 50vh;
    }
    .experience-container .experience-card h4 {
        font-size: 9rem;
    }
    .experience-container .experience-card h4 span {
        font-size: 5rem !important;
    }
    .experience-container .experience-card p{
        font-size: 2rem !important;
    }
}

@media (max-width: 1025px) {
    .experience-section h1{
        font-size: 5rem;
        margin-top: 150px;
    }
    .experience-container{
        margin: 15px auto;
    }
    .experience-container .experience-card {
        height: 50vh;
    }
    .experience-container .experience-card h4 {
        font-size: 7rem;
    }
    .experience-container .experience-card h4 span {
        font-size: 4rem !important;
    }
    .experience-container .experience-card p{
        font-size: 1.6rem !important;
    }
}

@media (max-width: 800px) {
    .experience-section h1{
        font-size: 5rem;
        margin-top: 120px;
    }
    .experience-container{
        margin: 15px auto;
    }
    .experience-container .experience-card {
        height: 50vh;
    }
    .experience-container .experience-card h4 {
        font-size: 5rem;
    }
    .experience-container .experience-card h4 span {
        font-size: 2.5rem !important;
    }
    .experience-container .experience-card p{
        font-size: 0.9rem !important;
    }
}

@media (max-width: 500px) {
    .experience-section h1 {
        font-size: 4rem;
    }
    .experience-container {
        flex-direction: column;
        align-items: center;
        margin: 15px auto;
        height: auto;
        margin-bottom: 50px;
    }
    .experience-container .experience-card {
        width: 80%;
        height: auto;
        padding: 20px;
        flex-wrap: nowrap;
    }
    .experience-container .experience-card h4 {
        font-size: 4rem;
        margin-bottom: 10px;
    }
    .experience-container .experience-card h4 span {
        font-size: 2.7rem !important;
    }
    .experience-container .experience-card p {
        font-size: 1.5rem !important;
    }
    .img-corner {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100px;
        margin-top: 0;
    }
}

@media (max-width: 360px) {
    .experience-section {
        min-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .experience-section h1 {
        font-size: 3rem;
    }
    .experience-container {
        flex-direction: column;
        align-items: center;
        margin: 15px auto;
        height: auto;
        margin-bottom: 50px;
    }
    .experience-container .experience-card {
        width: 80%;
        height: auto;
        padding: 20px;
        flex-wrap: nowrap;
    }
    .experience-container .experience-card h4 {
        font-size: 3rem;
        margin-bottom: 10px;
    }
    .experience-container .experience-card h4 span {
        font-size: 2rem !important;
    }
    .experience-container .experience-card p {
        font-size: 1.2rem !important;
    }
}

@media (max-width: 240px) {
    .experience-section h1 {
        font-size: 2.3rem;
    }
}

@media (max-height: 480px) {
    .experience-section {
        min-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .img-corner {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 100px;
        margin-top: 0;
    }
}

/* Partnerships */

.slider{
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.text .img {
    width: 250px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
    display: block;
    margin: 0 auto 1rem auto;
}

.text .imgs {
    width: 300px;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
    display: block;
    margin: 0 auto 1rem auto;
}

.text .name {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 1; 
}

.text .des {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 1;
}

.text .name-partner {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 1; 
}

.text .des-partner {
    font-size: 2.6rem;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 1;
    text-align: justify;
}

.slider .list {
    display: flex;
    width: 100%;
    height: 100%;
    transition: 1s;
    position: relative;
    left: 0;
}

.slider .list .item {
    flex: 0 0 100%; 
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.slider .list .item .bg {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.slider .list .item .bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}

.slider .list .item .text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    color: #fff;
    width: 100%; 
    max-width: 1000px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.slider .buttons{
    position: absolute;
    top: 50%;
    left: 1%;
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active{
    width: 30px;
}

@media (max-width: 1024px) {
    .slider .list .item .text {
        width: 80%;
        max-width: 100%;
        padding: 0 1rem;
    }
    .text .name {
        font-size: 3.4rem;
    }
    .text .des {
        font-size: 3rem;
    }
    .text .name-partner {
        font-size: 5rem;
    }
    .text .des-partner {
        font-size: 2.5rem;
    }
    .text .img {
        width: 180px;
    }
    .text .imgs {
        width: 200px;
    }
}

@media (max-width: 960px) {
    .text .name {
        font-size: 3.2rem;
    }
    .text .des {
        font-size: 2.8rem;
    }
    .text .name-partner {
        font-size: 5rem;
    }
    .text .des-partner {
        font-size: 2.5rem;
    }
    .text .img {
        width: 180px;
    }
    .text .imgs {
        width: 200px;
    }
}

@media (max-width: 800px) {
    .text .name {
        font-size: 2.6rem;
    }
    .text .des {
        font-size: 2rem;
    }
    .text .name-partner {
        font-size: 3.5rem;
    }
    .text .des-partner {
        font-size: 2rem;
    }
    .text .img {
        width: 120px;
    }
    .text .imgs {
        width: 150px;
    }
}

@media (max-width: 600px) {
    .slider {
        overflow-y: auto;
    }
    .slider .list .item .text {
        width: 70%;
        max-width: 100%;
        padding: 0 1rem;
    }
    .text .name {
        font-size: 2.6rem;
    }
    .text .des {
        font-size: 2rem;
    }
    .text .name-partner {
        font-size: 3.5rem;
    }
    .text .des-partner {
        font-size: 2rem;
    }
    .text .img {
        width: 120px;
    }
    .text .imgs {
        width: 150px;
    }
}

/* Announcements */

.sidenav {
	background: #053c53c5;
	position: fixed;
	height: 100%;
	width: 20%;
	top: 0;
	left: 0;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 120px;
}

.sidenav a {
	color: #fff;
	padding: 10px 15px 10px 16px;
	text-decoration: none;
	font-size: 2.5rem;
	display: block;
}

.sidenav a:hover {
	background: #118cc1;
}

.sidenav h2 {
	padding: 10px 15px 10px 16px;
	color: #fff;
	border-bottom-style: solid;
    font-size: 2rem;
}

.announce-section {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.announce-content {
    position: relative;
    z-index: 2; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 350px;
}

.announce-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/announce.jpg") no-repeat center;
	background-size: cover;
	filter: blur(10px);
	z-index: -1;
}

.announce-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    padding-bottom: 40px;
    box-sizing: border-box;
    padding-top: 100px;
}

#slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
    padding-top: 40px;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor:pointer;
    text-decoration: none;
}

#slides {
    padding: 10px;
    border: 3px solid #000;
    background: #530000;
    position: relative;
    z-index: 1;
}

#overflow {
    width: 100%;
    overflow: hidden;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}

#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}

#slide5:checked ~ #slides .inner {
    margin-left: -400%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 500%;
    line-height: 0;
    height: 100%;
}

#slides .slide {
    width: 20%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
   opacity: 1;
}

#slide1:checked ~ #controls label[for="slide2"],
#slide5:checked ~ #controls label[for="slide1"] {
    background: url(./images/arrow-right.png) no-repeat center center;
    background-size: 100% 100%;
    float: right;
    margin: -225px -50px 0 0;
    display: block;
}

#slide2:checked ~ #controls label[for="slide1"],
#slide3:checked ~ #controls label[for="slide2"] {
    background: url(./images/arrow-left.png) no-repeat center center;
    background-size: 100% 100%;
    float: left;
    margin: -225px 0 0 -50px;
    display: block;
}

#slide1:checked ~ #bullets label[for="slide1"],
#slide2:checked ~ #bullets label[for="slide2"] {
    background: #222;
}

#bullets {
    margin: 145px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
    transition: all 0.3s ease;
}

@media (max-width: 1601px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
    .announce-content {
        width: calc(100% - 35%);
        margin-left: 300px;
    }
}

@media (max-width: 1400px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .announce-content {
        width: calc(100% - 45%);
    }
    #controls {
        margin: -80px 0 -100px 0;
    }
}

@media (max-width: 1280px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
    }
    .announce-content {
        width: calc(100% - 45%);
        margin-left: 250px;
    }
    .sidenav a {
        color: #fff;
        padding: 10px 10px 1px 16px;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
    }
    #controls {
        margin: -80px 0 -100px 0;
    }
}

@media (max-width: 1080px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .announce-content {
        width: calc(100% - 35%);
        margin-left: 200px;
    }
    .sidenav {
        padding-top: 120px;
    }
    .sidenav a {
        padding: 10px 10px 1px 16px;
        font-size: 2rem;
    }
    #controls {
        margin: -80px 0 -100px 0;
    }
}

@media (max-width: 1024px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .announce-content {
        width: calc(100% - 45%);
    }
    .sidenav {
        padding-top: 90px;
    }
    .sidenav a {
        padding: 10px 10px 1px 16px;
        font-size: 1.8rem;
    }
    #controls {
        margin: -80px 0 -100px 0;
    }
}

@media (max-width: 960px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .announce-content {
        width: calc(100% - 55%);
        margin-left: 170px;
    }
    .sidenav {
        padding-top: 90px;
    }
    .sidenav a {
        padding: 10px 10px 1px 16px;
        font-size: 1.8rem;
    }
    #controls {
        margin: -10px 0 -170px 0;
    }
}

@media (max-width: 800px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .announce-content {
        width: calc(100% - 63%);
        padding-right: 10px;
    }
    .sidenav {
        padding-top: 90px;
    }
    #controls {
        margin: 30px 0 -215px 0;
    }
}

@media (max-height: 600px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .announce-content {
        width: calc(100% - 55%);
        padding-right: 10px;
    }
    .sidenav {
        padding-top: 110px;
    }
    #controls {
        margin: 0px 0 -190px 0;
    }
}

@media (max-height: 481px) {
    .announce-section {
        width: 100%;
        height: auto;
        min-height: 100vh;
        overflow: hidden;
    }
    .announce-content {
        width: calc(100% - 63%);
        padding-right: 10px;
    }
    .sidenav {
        padding-top: 90px;
    }
    #controls {
        margin: 20px 0 -210px 0;
    }
}

@media (max-width: 600px) {
    .announce-container {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 20px;
        overflow: hidden;
    }

    .sidenav {
        position: fixed;
        width: 100%;
        height: auto;
        padding: 20px;
        padding-top: 90px;
        background: #053c53c5;
        overflow: hidden;
    }
    .announce-content {
        width: calc(100% - 20%);
        margin-left: 0;
        margin-top: 220px;
    }
    #slider {
        width: 100%;
    }
    #controls {
        position: fixed;
    }
    #bullets {
        margin-top: 10px;
    }
}

@media (max-width: 400px) {
    .announce-container {
        overflow: hidden;
        height: auto;
        width: 100%;
        max-height: 100vh;
    }
    .announce-content {
        width: calc(100% - 20%);
        margin-top: 170px;
    }
    .sidenav {
        height: auto;
        padding-top: 80px;
    }
    .sidenav a {
        padding: 10px 10px -50px 16px;
        font-size: 1.3rem;
    }
    .sidenav h2 {
    font-size: 1.1rem;
}
}

@media (max-width: 320px) {
    .announce-container {
        overflow: hidden;
        height: auto;
        width: 100%;
        max-height: 100vh;
    }
    .announce-content {
        width: calc(100% - 40%);
        margin-top: 170px;
    }
    .sidenav {
        height: auto;
        padding-top: 80px;
    }
    .sidenav a {
        padding: 10px 10px -50px 16px;
        font-size: 1.3rem;
    }
    .sidenav h2 {
    font-size: 1.1rem;
}
}

/* Location */

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    background-image: url('images/pavexmaina.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 140px;
    color: white;
    text-align: center;
}

.home-content {
    text-align: center;
    padding: 4rem;
    width: 100%;
    max-width: 1000px;   
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #ffffff;
    z-index: 2;
    margin-bottom: 2rem;
}

.home-content p{
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.intro-text {
    text-align: justify;
    width: 100%;
    max-width: 900px;
    padding: 0 2rem;
    margin: 0 auto;
}

.map {
    display: none;
}

.btn-hide {
    display: none;
}

.btn-show{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid white;
    transition: 0.3s ease;
    cursor: pointer;
    width: fit-content;
    align-self: flex-start;
}

.btn-hide{
    display: none;
    padding: 1rem 2.8rem;
    background-color: transparent;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid white;
    transition: 0.3s ease;
    cursor: pointer;
    width: fit-content;
    align-self: flex-start;
}

.btn-show:hover,
.btn-hide:hover{
    transform: scale3d(1.03);
    background-color: #a00000;
    color: white;
    box-shadow: 0 0 25px #a00000;
}

.toggle-map:checked ~ .home-content .btn-show {
    display: none;
}
.toggle-map:checked ~ .home-content .btn-hide {
    display: inline-block;
}

.container{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

iframe{
    width: 80%; 
    height: 80vh;
    border: none;
    border: none;
}

.toggle-map {
    display: none;
}

#map-container {
    display: none;
    width: 100%;
    max-width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.toggle-map:checked ~ #map-container {
    display: block;
}

.toggle-map:checked ~ .img-corner {
    display: none;
}

@media (max-width: 320px) {
    .home-content h1 {
        font-size: 5rem;
    }
}

@media (max-width: 240px) {
    .home-content h1 {
        font-size: 3.5rem;
    }
}

/* Contact */

.contact{
	position: relative;
	width: 100%;
	height: 100vh;
    overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 20px;
    box-sizing: border-box;
}

.contact:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("images/contact.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.c-box {
  width: 100%;
  max-width: 900px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  margin: 10rem auto 0 auto;
}

.c-img {
  background: url("images/contact.jpg") no-repeat center;
  background-size: cover;
  background-position: center;
  width: 100%;    
  height: 100%;
  min-height: 100%;
  display: block;     
}

.c-content{
	padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    max-height: 100%;
}

.c-content h1{
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.c-content h1::after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #053b53;
}

.c-content, .c-content h1, .c-content p {
    color: #000000ca;
    z-index: 2;
}

.field{
    width: 100%;
	border: 2px solid #053c534b;
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 1.2rem 1.5rem;
	font-size: 1.2rem;
	margin-bottom: 12px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	height: 180px;
    resize: none;
}

.c-content .btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #053b53;
	color: #fff;
	font-size: 1.5rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.c-content .btn:hover{
    background-color: #118cc1;
}

.c-content .btn.clear {
    background-color: #053b53; 
}

.c-content .btn.clear:hover {
    background-color: #118cc1;
}

.btn-grp {
    display: flex;
    gap: 1rem;          
    margin-top: 0.5rem;    
    flex-direction: column; 
}

.btn-grp .btn {
    width: 100%;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media (max-width: 960px) {
    .c-box {
        height: auto;
        width: 100%;
        margin-top: 5rem;
    }
    .c-content {
        padding: 2rem;
        width: auto;
        height: auto;
    }
    .btn-grp {
        flex-direction: row;
    }
}  

@media (max-width: 800px) {
    .c-box {
        height: auto;
        width: 100%;
        margin-top: 5rem;
    }
    .c-content {
        padding: 2rem;
        width: auto;
        height: auto;
    }
    .btn-grp {
        flex-direction: row;
    }
} 

@media (max-width: 480px) {
    .c-box {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        width: 100%;
        margin-top: 5rem;
    }
    .c-content {
        padding: 2rem;
        width: auto;
        height: auto;
    }
    .c-img {
        display: none;
    }
    .btn-grp {
        flex-direction: row;
    }
}

@media (max-height: 650px) {
    .c-box {
        height: 100%;
        width: 100%;
        margin-top: 5rem;
    }
    .c-content {
        padding: 2rem;
        width: 100%;
        height: auto;
    }
    .btn-grp {
        flex-direction: row;
    }
} 

@media (max-height: 480px) {
    .c-box {
        
        height: 100%;
        width: 100%;
        margin-top: 5rem;
    }
    .c-content {
        padding: 1rem;
        width: 100%;
        height: auto;
    }
    .c-content h1 {
        font-size: 2rem;
    }
    .field {
        padding: 1rem 1rem;
    }
    .btn-grp {
        flex-direction: row;
        gap: 4px;
    }
} 
